.back {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h4 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #d6e108;
}


p {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

a{
  display: inline-block;
  text-align: center;
}
.btn {
  font-size: 25px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #1209c6;
  border-color: #d6bcd6;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 4px 0px 0px #899599;
  text-shadow: 0px 1px 0px #e1e2ed;
  background: linear-gradient(#ededed, #bab1ba);
  padding: 2px 2px;
}

.btn:hover {
  background: linear-gradient(#bab1ba, #ededed);
}